
.season2{
    display: inline-block;
    padding-top: 5px;
    padding-bottom: -10px;
    text-align: center;
    width: 100%;
    background-color: #212529;
    color:white;
    font-size: 30px;
}

.col-lg-4{
    text-align: center;
}

.container{
    background-color: white;
    margin-top: 30px;
}


/* ARRUMAR OS BOTÕES DO SITE DE COM ESTILO DO BOTÃO DO HOTEL */


.season3{
    position: relative;
    margin-top: 25px;
    margin-bottom: 25PX;
    
    left: 120px;
    margin-right: 0px;
    width: 83%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

div.col{
    width: 30%;
    margin-top: 50px;
    margin-right: 0px;
}

div.col:nth-child(1){
    margin-left: 55px;
}

div.col:nth-child(3){
    margin-right: 0px;
}


.d-flex a:hover{
    background-color: #0e1924;
}

input.form-control {
    width: 220px;
}

.bd-placeholder-img {
    margin-bottom: 20px;
}


.card-header {
    background-color: black;
    color: white;
}

.card-body {
    background-color: #353535;
}

.card-body h1 {
    color: white;
}

.list-unstyled li{
    color: white;
}




.btn-outline-primary {
    border: 1px solid white;
    color: white;
}

.btn-outline-primary:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}



.btn-primary {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.btn-primary:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}









/* BOTÃO DO SERVIÇO MASTER */

